</main>
<footer>
    <nav>
        <p>Website Developed by: Charles MacMillan</p>
        <a target="_blank" href="https://www.linkedin.com/in/charles-macmillan-bba8631aa/">LinkedIn</a> | 
        <a target="_blank" href="https://github.com/charlesmacmillan">gitHub</a> | 
        <a target="_blank" href = "mailto: charlesmacmillanpro@gmail.com">Email</a>
    </nav>
</footer>
</body>
</html>