html,
body {
  height: 100%;
  margin: 0;
  letter-spacing: 1px;
}
body {
  display: grid;
  grid-template: 1fr 50% 1fr / 1fr 1fr 1fr 1fr 1fr;
  font-weight: bold;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  grid-area: 1/1/2/6;
  height: 150px;
  padding: 0 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom, #ffffffb9 25%, #92adc200);
}

a {
  color: #417cac;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

header a {
  -moz-text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: -2px -1px 2px #fef0d3;
  font-size: 1.25rem;
}

a:hover {
  color: rgba(252, 164, 0, 0.719);
}

header img {
  width: 70px;
  border: 2.5px solid rgba(100, 78, 16, 0.555);
  padding-right: 1px;
  border-radius: 50%;
  background: linear-gradient(to top, white 15%, #5b8cb4be);
}

main {
  grid-area: 2/2/3/5;
}

h1 {
  text-align: center;
  color: rgba(252, 164, 0, 0.664);
  -moz-text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: -2px 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: -2px 0px 3px #fef0d3;
  font-size: 50px;
}

.box {
  background: linear-gradient(to left, #416e9a4b 30%, #feeccc10);
  /* background-color: #709ebc86; */
  border-radius: 15px;
  padding: 5% 3%;
  -moz-box-shadow: -2px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 1px 4px #fef0d3;
  line-height: 150%;
  margin: 0 auto;
}

#new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

#new-form input {
  text-align: center;
  width: 75%;
}

footer {
  grid-area: 3/1/4/6;
  text-align: center;
  padding-top: 5%;
  height: 100px;
  margin-top: auto;
  background: linear-gradient(to top, #ffffffde 0%, #ffffff00);
}

footer p span {
  color: rgb(0, 92, 0);
  font-weight: bold;
  font-size: 1.1rem;
}

footer a {
  font-size: 0.8rem;
}

@media only screen and (max-width: 624px) {
  main {
    grid-area: 2/1/3/6;
  }
  h1 {
    font-size: 30px;
  }
  footer p {
    font-size: 12px;
  }
}
